@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,body{
    width: 375px;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    background-color:  #f2f2f2;
}
header{
    background-color: #3F3D56;
    height: 50px;
    display: flex;
    align-items: center;
    width: 375px;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: fixed;
    top: 0
}

#centro-header {
    display: flex;
    align-items: center;
}
#centro-header li img{
    max-width:32px;
    max-height:32px;
    width: auto;
    height: auto;
}
#centro-header li:nth-child(2) {
    padding: 0 10px;
    line-height: 36px;
    color: white;
}

#centro-header li:last-child{
    transform: scaleX(-1);
}

header img{
    width: 32px;
    margin: 0 10px;
}

#home{
    background-image: url(../images/home-image.png);
    background-position: 15px;
    background-repeat: no-repeat;
    margin-top: 50px;
    color: #3F3D56;
}

#home h2{
    font-size: 19px;
    padding-top: 38px;
    padding-left: 5px;
    font-weight: bold;
}
#home p{
    font-size: 10px;
    text-align: center;
    width: 160px;
    padding-top: 20px;
    padding-bottom: 5px;
    font-weight: bold;
}

.item{
    align-items: center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px #FF8A76;
    border-radius: 5px;
    width: 114px;
    height: 165px;
    position: relative;
    display: inline-block;
    justify-content: center;    
    margin: 20px 0;
    
}
.item img{
    width: 78px;
    height: 118px;
}
.item p:nth-child(2){
    font-size: 11px;
    font-weight: bold;
}
.item p:nth-child(3){
    font-size: 11px;    
    color: #7e7e7e;
}
.item p:nth-child(4){
    font-size: 14px;   
    font-weight: bold; 
}

#lista-itens{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 55px;
    margin-left: 5px;
}

footer ul{
    position: fixed;
    bottom: 0;
    width: 375px;
    height: 46px;
    background: #3F3D56;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navegacao li img:active{
    transform: translateX(0) scale(1.1);
}
.navegacao li:nth-child(3){
    padding-top:6px;
}

#cesta{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 100px;
    left: 90px;
    background-image: url(../images/cesta.png);
    background-size: cover;
}
